@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 -677px; }
}

.jumbotron {
width: 100%;
height: 600px;
top: 0px;
background-color: #383c41;
left: 0px;
padding: 0;
background-image: url('http://johanvandentillaart.nl/music-library/home-bg.jpg');
animation: animatedBackground 40s linear infinite;
background-position: 50% 0%!important;
&:before {
   content: '';
   position: absolute;
   height: 600px;
   right: 0;
   left: 0;
   z-index: 99;
   background-image: linear-gradient(to bottom right, #f1312e 35%, #f45523);
   opacity: .9;
 }



  p {
    font-size: 24px;
    font:$title-font;
  }
}
.title-jumbotron {
  top: 320px;
  left: 150px;
  position: absolute;
  z-index: 999;
  color: #EEEEED;
  font:$title-font;
  font-size: 42px;
  color: #EEEEED;
  position: absolute;
}
@media only screen and (max-width: 600px) {
  .title-jumbotron {
    font:$title-font-h1-mobile;
		left: 40px;
  }
}

button {
  background: #f1312e;
	border: 3px solid #f1312e;
	color: #EEEEED;
	border-radius: 2px;
	padding: 4px 10px;
}
button:hover {
  background: #f45523;
	border: 3px solid #f45523;
	color: #EEEEED;
}

.music1 {
  background-image: url('http://johanvandentillaart.nl/music-library/charlie.jpg');
  background-size: 100% 100%;
	min-height: 300px;
	padding-top:50px;

  h2 {
    color: white;
  }
  h3 {
    color: white;
  }

}
.music2 {
  background-image: url('http://johanvandentillaart.nl/music-library/peachy.jpg');
  background-size: 100% 100%;
	min-height: 300px;
	padding-top:50px;

  h2 {
    color: white;
  }
  h3 {
    color: white;
  }

}
.music3 {
  background-image: url('http://johanvandentillaart.nl/music-library/panda.jpg');
  background-size: 100% 100%;
	min-height: 300px;
	padding-top:50px;

  h2 {
    color: white;
  }
  h3 {
    color: white;
  }

}
