.navbar-default {
  background-color: transparent;
  border-radius: 0;
  border-style: none;
  color: #EEEEED;
}

.navbar-default .navbar-brand {
  color: #EEEEED;
}
.navbar-default .navbar-brand:visited {
  color: #EEEEED;
}

.navbar-default .navbar-brand:hover {
  color: #EEEEED;
}
